{% extends 'base.html' %}

{% load static %}

{% block content %}

    <article class="container" page-content>


        <!-- MOVIE DETAIL -->
        <div class="movie-detail">
            <div class="backdrop-image background-image" style="background-image: url('./assets/images/slider-banner.jpg')"></div>

            <figure class="poster-box movie-poster">
                <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
            </figure>

            <div class="detail-box">

                <div class="detail-content">
                    <h1 class="heading">Puss in Boots: The Last Wish</h1>

                    <div class="meta-list">
                        <div class="meta-item card-badge">
                            <span class="span">8.4</span>
                            <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                        </div>

                        <div class="separator"></div>

                        <div class="meta-item">162mins</div>

                        <div class="separator"></div>

                        <div class="meta-item">2022</div>

                        <div class="meta-item card-badge">PG-13</div>

                    </div>

                    <p class="genre">Animation, Action, Adventure</p>

                    <p class="overview">
                        Puss in Boots dicovers that his passion for adventure has taken a toll:
                        He has burned through eight of his lives, leaving him with only one life left.
                        Puss sets out on an epic journey to find his last wish and restore his nine lives.
                    </p>

                    <ul class="detail-list">

                        <div class="list-item">
                            <p class="list-name">Starring</p>

                            <p>
                                Letita Wright, Lupita Nyong'o, Danai Gurira, Winston Duke,
                                Dominique Thorne, Tenoch Huerta Mejia, Angela Basset, 
                                Florence Kasumba, Michaela Coel, Mabel Cadina
                            </p>
                        </div>

                        <div class="list-item">
                            <p class="list-name">Directed By</p>

                            <p>
                                Ryan Coogler
                            </p>
                        </div>
                    </ul>
                </div>

                <div class="title-wrapper">
                    <h3 class="title-large">Trailer and Clips</h3>
                </div>

                <div class="slider-list">
                    <div class="slider-inner">
                        <div class="video-card"></div>
                        <div class="video-card"></div>
                        <div class="video-card"></div>
                        <div class="video-card"></div>
                        <div class="video-card"></div>
                        <div class="video-card"></div>
                    </div>
                </div>

            </div>
        </div>








        <!-- MOVIE LIST -->

        <section class="movie-list" aria-label="upcoming movie">

            <div class="title-wrapper">
                <h3 class="title-large">You May Also Like</h3>
            </div>


            <div class="slider-list">
                <div class="slider-inner">

                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    
                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>



                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>




                </div>
            </div>
        </section>


    </article>



    <!-- script Link -->
    <script type="module" src="./assets/js/global.js"></script>
    <script type="module" src="./assets/js/detail.js"></script>



{% endblock %}