{% extends 'base.html' %}
{% load genre_filters %}
{% load static %}

{% block content %}
    <article class="container" page-content>
        <!-- BANNER -->
        
        <section class="banner" aria-label="popular movies">

            <div class="banner-slider">
                {% for movie in now_playing_movies %}
                <div class="slider-item {% if forloop.first %} active {% endif %}" data-movie-id="{{ movie.id }}" slider-item>
                    <img src="{{image_base_url }}{{ movie.backdrop_path }}" alt="{{ movie.title }}" class="img-cover" loading="{% if forloop.first %}eager {% endif %}lazy">

                    <div class="banner-content">

                        <h2 class="heading heading-1">{{ movie.title }}</h2>

                        <div class="meta-list">
                            <div class="meta-item">{{ movie.release_date|slice:":4" }}</div>

                            <div class="meta-item card-badge">{{ movie.vote_average|floatformat:1 }}<i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i></div>
                        </div>
                        <div class="genre-container">
                            {% for genre_id in movie.genre_ids %}
                            <span class="genre">{{ genre_dict|get_item:genre_id }}</span>
                            {% endfor %}
                        </div>
                        
                        
                        <p class="banner-text">{{ movie.overview }}</p>

                        <a href="{% url 'movie_detail' movie.id %}" class="btn">
                            <i class='bx bx-play-circle' aria-hidden="true" alt="play circle"></i>

                            <span class="span watch">Watch Now</span>
                        </a>

                    </div>

                </div>
                {% endfor %}

            </div>

            <div class="slider-control">
                <div class="control-inner">
                    {% for movie in now_playing_movies %}
                    <button class="poster-box slider-item {% if forloop.first %} active {% endif %}" data-movie-id="{{ movie.id }}" slider-item>
                        <img src="{{ image_base_url }}{{ movie.poster_path }}" alt="{{ movie.title }}" loading="lazy" draggable="false" class="img-cover">
                    </button>
                    {% endfor %}

                </div>
            </div>

        </section>

        <!-- MOVIE LIST -->

        <section class="movie-list" aria-label="upcoming movie">

            <div class="title-wrapper">
                <h3 class="title-large">Popular Movies</h3>
            </div>


            <div class="slider-list">
                <div class="slider-inner">


                    {% for popular in popular_movies %}
                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="{{image_base_url}}{{popular.poster_path}}" alt="{{popular.title}}" class="img-cover">
                        </figure>

                        <h4 class="title">{{popular.title}}</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">{{popular.vote_average|floatformat:1}}</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">{{popular.release_date|slice:"4"}}</div>
                        </div>

                        <a href="{% url 'movie_detail' popular.id %}" class="card-btn" title="{{popular.title}}"></a>
                    </div>
                    {% endfor %}
            
        </section>


        <section class="movie-list">

            <div class="title-wrapper">
                <h3 class="title-large">Top Rated Movies</h3>
            </div>


            <div class="slider-list">
                <div class="slider-inner">


                    {% for top_rated in top_rated_movies %}
                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="{{image_base_url}}{{top_rated.poster_path}}" alt="{{top_rated.title}}" class="img-cover">
                        </figure>

                        <h4 class="title">{{top_rated.title}}</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">{{top_rated.vote_average|floatformat:1}}</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">{{ top_rated.release_date|slice:"4" }}</div>
                        </div>

                        <a href="{% url 'movie_detail' top_rated.id %}" class="card-btn" title="{{movie.title}}"></a>
                    </div>
                    {% endfor %}


                </div>
            </div>

        </section>

        <section class="movie-list">

            <div class="title-wrapper">
                <h3 class="title-large">Upcoming Movies</h3>
            </div>


            <div class="slider-list">
                <div class="slider-inner">


                    {% for upcoming in upcoming_movies %}
                    <div class="movie-card">

                        <figure class="poster-box card-banener">
                            <img src="{{image_base_url}}{{upcoming.poster_path}}" alt="{{upcomimg.title}}" class="img-cover">
                        </figure>

                        <h4 class="title">{{upcoming.title}}</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">{{upcoming.vote_average|floatformat:1}}</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">{{ upcoming.release_date|slice:"4" }}</div>
                        </div>

                        <a href="{% url 'movie_detail' upcoming.id %}" class="card-btn" title="{{movie.title}}"></a>
                    </div>
                    {% endfor %}


                </div>
            </div>

        </section>


    </article>


{% endblock %}