{% extends 'base.html' %}

{% load static %}

{% block content %}

    <article class="container" page-content>


        <!-- MOVIE DETAIL -->
        <div class="movie-detail">
            <div class="backdrop-image background-image" style="background-image: url('{{image_base_url}}{{movie.backdrop_path}}')"></div>

            <figure class="poster-box movie-poster">
                <img src="{{image_base_url}}{{movie.poster_path}}" alt="{{ movie.title }}" class="img-cover">
            </figure>

            <div class="detail-box">

                <div class="detail-content">
                    <h1 class="heading">{{ movie.title }}</h1>

                    <div class="meta-list">
                        <div class="meta-item card-badge rating">
                            <span class="span">{{movie.vote_average|floatformat:1}}</span>
                            <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                        </div>

                        <div class="separator"></div>

                        <div class="meta-item">{{ movie.runtime }} mins</div>

                        <div class="separator"></div>

                        <div class="meta-item">{{movie.release_date|slice:"4"}}</div>

                        <div class="meta-item card-badge">PG-13</div>

                    </div>



                    
                    <div class="genres_list">
                    {% for genre_list in movie.genres %}    
                        <div class="genre-item">
                            <p class="genre">{{ genre_list.name }}</p>
                            <div class="separator"></div>
                        </div>
                    {% endfor %}
                    </div>
                    

                    <p class="overview">{{ movie.overview }}</p>

                    <ul class="detail-list">

                        <div class="list-item">
                            <p class="list-name">Starring</p>
                            
                            {% for cast in movie_casts %}
                            {% if cast.known_for_department == "Acting" %}
                            <p>{{ cast.name }}{% if not forloop.last %}, {% endif %}</p>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <div class="list-item">
                            <p class="list-name">Directed By</p>
                            {% for crew in movie_crew %}
                            {% if crew.job == "Director" %}
                            <p> {{ crew.name }} </p>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </ul>
                </div>

                <div class="title-wrapper">
                    <h3 class="title-large">Trailer and Clips</h3>
                </div>

                <div class="slider-list trailer-slider">
                    <div class="slider-inner trailer-inner">
                        {% for trailer in trailers %}
                        {% if trailer.type == "Trailer" %}                        
                        <div class="video-card ">
                            <iframe width="500" height="294" src="https://www.youtube.com/embed/{{trailer.key}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

        <br>
        <section class="movie-list" aria-label="upcoming movie">

            <div class="title-wrapper">
                <h3 class="title-large">You May Also Like</h3>
            </div>


            <div class="slider-list movie-grid">
                <div class="slider-inner movie-inner">
                {% for recommendation in recommendations %}
                    <div class="movie-card">

                        <figure class="poster-box card-banner">
                            <img src="{{image_base_url}}{{recommendation.poster_path}}" alt="{{recommendation.title}}" class="img-cover">
                        </figure>

                        <h4 class="title">{{ recommendation.title }}</h4>
                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">{{recommendation.vote_average|floatformat:1}}</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">{{recommendation.release_date|slice:"4"}}</div>
                        </div>

                        <a href="{% url 'movie_detail' recommendation.id %}" class="card-btn" title="{{ recomendation.title }}"></a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>

    </article>

{% endblock %}






        <!-- MOVIE LIST -->

<!--    <section class="movie-list" aria-label="upcoming movie">

            <div class="title-wrapper">
                <h3 class="title-large">You May Also Like</h3>
            </div>


            <div class="slider-list">
                <div class="slider-inner">

                    <div class="movie-card">

                        <figure class="poster-box card-banner">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    
                    <div class="movie-card">

                        <figure class="poster-box card-banner">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    <div class="movie-card">

                        <figure class="poster-box card-banner">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>

                    <div class="movie-card">

                        <figure class="poster-box card-banner">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>



                    <div class="movie-card">

                        <figure class="poster-box card-banner">
                            <img src="./assets/images/slider-control.jpg" alt="Puss in Boots: The Last Wish" class="img-cover">
                        </figure>

                        <h4 class="title">Puss in Boots: The Last Wish</h4>

                        <div class="meta-list">
                            <div class="meta-item">

                                <span class="span">8.4</span>
                                <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                            </div>

                            <div class="card-badge">2022</div>
                        </div>

                        <a href="./detail.html" class="card-btn" title="Puss in Boots: The Last Wish"></a>
                    </div>




                </div>
            </div>
        </section> -->

 -->


    <!-- script Link -->
    <script type="module" src="./assets/js/global.js"></script>
    <script type="module" src="./assets/js/detail.js"></script>



