{% extends 'base.html' %}

{% load static %}

{% block content %}
<article class="container">
    <section class="movie-list" aria-label="upcoming movie">

        <div class="title-wrapper">
        {% if movies %}
            <h3 class="title-large">results for "{{query}}"</h3>
        </div>

        
        <div class="slider-list movie-grid">
            <div class="slider-inner movie-inner" id="slider-inner">
                {% for movie in movies %}
                <div class="movie-card">

                    <figure class="poster-box card-banener">
                        <img src="{{image_base_url}}{{movie.poster_path}}" alt="{{ movie.title }}" class="img-cover">
                    </figure>

                    <h4 class="title">{{ movie.title }}</h4>

                    <div class="meta-list">
                        <div class="meta-item">

                            <span class="span">{{ movie.vote_average|floatformat:1 }}</span>
                            <i class='bx bxs-star' style='color:#ffb43a' width="20" height="20" loading="lazy" alt="rating"></i>
                        </div>

                        <div class="card-badge">{{ movie.release_date|slice:"4" }}</div>
                    </div>

                    <a href="{% url 'movie_detail' movie.id %}" class="card-btn" title="{{movie.title}}"></a>
                </div>
            {% endfor %}
            {% else %}
            <div class="title-wrapper">
                <h3 class="title-large">No results found for {{query}}</h3>
            </div>
            {% endif %}

            </div>
        </div>
    </section>
    {% if has_next %}
    <button class="btn load-more" id="load-more-button" data-view-type ="search" data-next-page="{{next_page}}" data-url-pattern="{% url 'movie_detail' 0 %}">Load More</button>
    {% endif %}
</article>

{% endblock %}

<!-- script Link -->
<script type="module" src="{% static 'js/global.js' %}"></script>
<script type="module" src="{% static 'js/movie-list.js' %}"></script>
