{% load static %}
<nav class="sidebar active" sidebar>
    <!-- add active -->
    <div class="sidebar-inner">
        <div class="sidebar-list">
            <a href="#" class="sidebar-link">
                <i class='bx bx-home-circle sidebar-title'></i>Home
            </a>


            <a href="#" class="sidebar-link dropdown">
                <i class="bx bx-compass sidebar-title dropbtn"></i>
                Explore <i class="bx bx-chevron-right"></i>
                <div class="sidebar-menu">
                    {% for genre in movie_genres %}
                        <a href="" class="sub-menu_1" menu-close>{{genre.name}}</a>
                    {% endfor %}
                </div>
            </a>

            <a href="#" class="sidebar-link">
                <i class='bx bxs-hot sidebar-title'></i>Trending
            </a>

            <a href="" class="sidebar-link">
                <i class="bx bx-heart-circle sidebar-title"></i>Favourites
            </a>

        </div>
        
        <div class="sidebar-list lang">
            <a href="#" class="sidebar-link">
                <p class="sidebar-title sub-btn">Language<i class="bx bxs-chevron-right dropdown"></i></p>
                
            <div class="sidebar-menu">
                <a href="" class="sub-menu" menu-close>English</a>
                <a href="" class="sub-menu" menu-close>Hindi</a>
                <a href="" class="sub-menu" menu-close>Bangali</a>
            </div>
            </a>
        </div>

        <div class="sidebar-footer">
            <p class="copyright">Cinemania Copyright 2024 <a href="https://github.com/Cyberod/Cinemania">Jonaz</a></p>

            <img src="{% static 'images/tmdb-logo.svg' %}" width="130" height="17" alt="tmdb-logo">
        </div>
</nav>
