{% load static %}
<nav class="sidebar" sidebar>
    <!-- add active -->
    <div class="sidebar-inner">
        <div class="sidebar-list">
            <a href="{% url 'home' %}" class="sidebar-link">
                <i class='bx bx-home-circle sidebar-title'></i>Home
            </a>


            <div class="sidebar-link dropdown">
                <i class="bx bx-compass sidebar-title"></i>
                Explore <i class="bx bx-chevron-down"></i>
                <div class="sidebar-menu">
                    {% for genre in movie_genres %}
                        <a href="{% url 'genre_movies' genre.id %}" menu-close>{{genre.name}}</a>
                    {% endfor %}
                </div>
            </div>

            <a href="{% url 'trending_movies' %}" class="sidebar-link">
                <i class='bx bxs-hot sidebar-title'></i>Trending
            </a>

<!--             <a href="" class="sidebar-link">
                <i class="bx bx-heart-circle sidebar-title"></i>Favourites
            </a> -->

            <div class="sidebar-link dropdown"></i>
                <i class='bx bx-world sidebar-title'></i>
                Language <i class="bx bx-chevron-down"></i>
                <div class="sidebar-menu">
                    {% for lang in languages %}
                    {% if lang.english_name in nig_language %}
                        <a href="{% url 'movie_language' lang.iso_639_1 %}" menu-close>{{lang.english_name}}</a>
                    {% endif %}    
                    {% endfor %}
                </div>
            </div>

        </div>
        

        <div class="sidebar-footer">
            <a class="copyright"><a href="https://github.com/Cyberod/Cinemania">Cinemania Copyright 2024 Jonaz</a></p>

            <img src="{% static 'images/tmdb-logo.svg' %}" width="80" height="20" alt="tmdb-logo">
        </div>
</nav>
